<p-table #dt [value]="products()" [rows]="3" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['cin', 'nom', 'prenom', 'nationalite']" [tableStyle]="{ 'min-width': '100%' }"
    [(selection)]="selectedLignes" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Lignes" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[3, 6, 9]" class="w-full">

    <!-- HEADER -->
    <ng-template #header>
        <tr>
            <th style="width: 5%">
                <p-tableHeaderCheckbox />
            </th>
            <th style="width: 15%">Id ligne credit</th>
            <th style="width: 25%">Type crédit</th>
            <th style="width: 15%">Devis</th>
            <th style="width: 10%">Montant</th>
            <th style="width: 20%">Date échéance</th>
            <th style="width: 10%">
                <p-toolbar styleClass="mb-2">
                    <ng-template #start>
                        <p-button icon="pi pi-plus" severity="secondary" class="mr-1" (onClick)="openNew()" [disabled]="consult" label="Ajouter"/>
                    </ng-template>
                </p-toolbar>
            </th>
        </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template #body let-ligneCredit>
        <tr>
            <td style="width: 5%">
                <p-tableCheckbox [value]="ligneCredit" />
            </td>
            <td style="width: 15%">{{ ligneCredit.id }}</td>
            <td style="width: 25%">{{ ligneCredit.type }}</td>
            <td style="width: 15%">{{ ligneCredit.devise }}</td>
            <td style="width: 10%">{{ ligneCredit.montant }}%</td>
            <td style="width: 20%">{{ ligneCredit.dateEcheance }}</td>
            <td style="width: 10%">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editLigneCredit(ligneCredit)" [disabled]="consult"/>
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteLigneCredit(ligneCredit)" [disabled]="consult"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- ligneCredit DIALOG -->
<p-dialog [(visible)]="ligneCreditDialog" [style]="{ width: '900px' }" header="Détails Ligne Crédit" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6 text-base">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">

                <!-- Famille de crédit -->
                <div>
                    <label for="familleCredit" class="block font-semibold mb-2">Famille de crédit</label>
                    <p-select inputId="familleCredit" [(ngModel)]="ligneCredit.famille" [options]="famillesCredit"
                        placeholder="Choisir.." class="w-full" />
                </div>

                <!-- Nature de crédit -->
                <div>
                    <label for="natureCredit" class="block font-semibold mb-2">Nature de crédit</label>
                    <p-select inputId="natureCredit" [(ngModel)]="ligneCredit.nature" [options]="naturesCredit"
                        placeholder="Choisir..." class="w-full" />
                </div>

                <!-- Type de crédit -->
                <div>
                    <label for="typeCredit" class="block font-semibold mb-2">Type de crédit</label>
                    <p-select inputId="typeCredit" [(ngModel)]="ligneCredit.type" [options]="typesCredit"
                        placeholder="Choisir..." class="w-full" />
                </div>

                <!-- Devise -->
                <div>
                    <label for="devise" class="block font-semibold mb-2">Devise</label>
                    <input type="text" pInputText id="devise" [(ngModel)]="ligneCredit.devise" class="w-full" />
                </div>

                <!-- Montant -->
                <div>
                    <label for="montant" class="block font-semibold mb-2">Montant</label>
                    <input type="number" pInputText id="montant" [(ngModel)]="ligneCredit.montant" class="w-full" />
                </div>

                <!-- Date échéance -->
                <div>
                    <label for="dateEcheance" class="block font-semibold mb-2">Date échéance</label>
                    <p-date-picker inputId="dateEcheance" [(ngModel)]="ligneCredit.dateEcheance" dateFormat="dd/mm/yy"
                        showIcon class="w-full" />
                </div>

                <!-- Type taux -->
                <div>
                    <label for="typeTaux" class="block font-semibold mb-2">Type taux</label>
                    <p-select inputId="typeTaux" [(ngModel)]="ligneCredit.typeTaux" [options]="typestaux"
                        placeholder="Choisir..." class="w-full" />
                </div>

                <!-- Taux -->
                <div>
                    <label for="taux" class="block font-semibold mb-2">Taux</label>
                    <input type="number" pInputText id="taux" [(ngModel)]="ligneCredit.taux" class="w-full" />
                </div>

                <!-- Marge -->
                <div>
                    <label for="marge" class="block font-semibold mb-2">Marge</label>
                    <input type="number" pInputText id="marge" [(ngModel)]="ligneCredit.marge" class="w-full" />
                </div>

                <!-- Montant contre valeur -->
                <div>
                    <label for="contreValeur" class="block font-semibold mb-2">Montant contre valeur</label>
                    <input type="number" pInputText id="contreValeur" [(ngModel)]="ligneCredit.montantcontreValeur" class="w-full" />
                </div>

            </div>

            <!-- ACTION BUTTONS -->
            <div class="flex justify-end gap-4 mt-6">
                <p-button label="Annuler" icon="pi pi-times" text class="text-lg px-3 py-2"
                    (click)="hideDialog()" />
                <p-button label="Enregistrer" icon="pi pi-check" class="text-lg px-3 py-2"
                    (click)="saveLigneCredit()" />
            </div>
        </div>
    </ng-template>
</p-dialog>



<p-confirmdialog [style]="{ width: '450px' }" />